body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn-block {
  width: 100%;
}
/*robao de internet claramente*/
.checkbox-purple[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #7e57c2;
  background-color: #7e57c2;
}

.col.s12>.btn {
  width: 100%;
}

.loading {
  padding: 100px;
  text-align: center;
}